.hero {
  /* border-bottom: .5px solid black; */
 background: url('../img/hero2.jpg');
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  background: #fff;
  /* margin-top: 10px; */
}

.squad-logo {
  width: 300px;
  margin-top: -15px!important;
}

.inner {
  padding-top: 0!important;
  margin-top: 0!important;
}


.hero p {
  text-align: center;
  color: white;
}
.separator {
  background: white;
}

.hero h1 {
  text-align: center;
  color: white;
  margin-top: 100px;
}


section.subscribe .container {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  padding-bottom: 20px;
}


section.subscribe {
  background: url('/img/wood.png');
  background-position: center;
}
section.subscribe h1 span {
  color: white;
  text-transform: none;
  letter-spacing: 1;
  font-weight: 400;
  font-size: 20px!important;
  letter-spacing: 0;
}



.gray {
  background: #f3f3f3;
  border-radius: 12px;
}

.feat-video .gray{
  padding-bottom:40px;
  padding-top: 40px;
}
