.hero {
  /* border-bottom: .5px solid black; */
  background: url('../img/hero2.jpg');
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  background: #fff;
  /* margin-top: 10px; */
}
.squad-logo {
  width: 300px;
  margin-top: -15px!important;
}
.inner {
  padding-top: 0!important;
  margin-top: 0!important;
}
.hero p {
  text-align: center;
  color: white;
}
.separator {
  background: white;
}
.hero h1 {
  text-align: center;
  color: white;
  font-weight: 400;
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
}
section.subscribe .container {
  /* background: rgba(0, 0, 0, 0.3); */
  border-radius: 12px;
  padding-bottom: 20px;
}
section.subscribe {
   background: url('/img/ios-2.png');
  /* background: #f3f3f3; */
  background-position: center;
}
section.subscribe h1 span {
  color: white;
  text-transform: none;
  font-weight: 400;
  font-size: 20px!important;
  letter-spacing: 0;
}
.gray {
  background: #f3f3f3;
  border-radius: 12px;
}

.mb50 {
  margin-bottom: 30px;
}

.video-copy {
  width: 90%;
  text-align: left;
  margin-left: -20px;
  color: #454545;
  font-size: 17px;
}
.mt50 {
  margin-top: 40px;
}

.jobs {
  padding: 40px 0 90px 0;
}

.feat-video .separator {
  background: #ccc;
  border-radius: 120px;
  opacity: .3;
}
.input-ios {
  background: white!important;
}

.contact-details {
  width: 100%;
  margin-left: 0!important;
  background: url('../img/map.png');
}


.feat-video .gray {
  padding-bottom: 40px;
  padding-top: 40px;
}
/* .feat-video h1 {
}
 */
